.career-top {
  background-image: url("../img/careerTopBG.png");
  align-items: end;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-bottom: 4px solid #ee303c;
  height: 352px;
  width: 100%;
}

.career-content {
  display: flex;
  margin: -121px auto 0;
  max-width: 1364px;
  padding: 0 67px;
  position: relative;
  z-index: 3;
  color: #707070;

  .career-left-side {
    width: 35%;
    margin-right: 50px;
  }

  .career-top-text {
    color: #fff;
    z-index: 3;
    font-size: 48px;
  }

  .career-top-header {
    color: #006a9f;
    margin: 100px 0 30px;

    h1 {
      font-size: 24px;
    }
  }

  .career-right-side {
    background-color: #fff;
    box-shadow: 0 10px 40px #006A9F1A;
    filter: drop-shadow(0px 10px 40px #006A9F1A);
    border-bottom: 2px solid #EE303C;
    border-radius: 24px;
    font-size: 16px;
    margin-bottom: 74px;
    padding: 48px 52px 61px 66px;
    width: 75%;
    color: #006A9F;

    h1 {
      margin-bottom: 15px;
      font-size: 24px;
    }

    p {
      color: #707070;
      margin-bottom: 1rem !important;
      font-size: 16px;
    }

    .career-hr-header svg {
      display: none;
    }
  }

  .upload-cv {
    padding: 18px 24px;
    margin: 25px 0;
    border-radius: 12px;
    border: none;
    background-color: #006A9F;
    transition: .3s ease-out;
    cursor: pointer;

    p {
      font-size: 16px;
    }
  }

  .upload-cv:hover {
    background-color: #EE303c;
    transition: .3s ease-out;
  }

  .upload-cv-input {
    display: none;
  }

  .career-form-image {
    margin: 0 10px;

  }

  .career-form-open {
    cursor: pointer;
    text-decoration: underline;
  }

  .career-form-open:hover {
    color: #006A9F;
  }
}

//career team card
.career-team {
  padding: 0 67px;
  max-width: 1364px;
  margin: auto;

  .career-team-card-header {
    margin-bottom: 26px;
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    color: #383838;
    font-size: 20px;

  }

  .career-team-card-header svg {
    margin: 0 5px;
    cursor: pointer;

  }

  .career-team-cards::-webkit-scrollbar {
    display: none;
  }

  .career-team-cards {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;


    .career-team-image img {
      height: 440px;
      border-radius: 12px;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      cursor: pointer;
      z-index: 1;
    }

    .career-team-text-container {
      position: absolute;
      z-index: 0;
      left: 0;
      border-radius: 12px;
      height: 100%;
      transition: 0.3s ease-out;
      width: 320px;
    }

    .career-team-text {
      background-color: #006A9F;
      color: #fff;
      border-radius: 12px;
      padding: 9px 20px 66px;
      line-height: normal;

      p {
        margin: 20px;
      }
    }

    .career-team-text-title {
      margin: 18px;
      //font-size: 16px;
      color: #707070;

      h3 {
        font-size: 24px;
        color: #006A9F;
      }
    }

    .career-team-text-title-mobile {
      display: none;
    }

    .career-team-card {
      display: flex;
      position: relative;
      transition: 0.3s ease-out;
      width: 320px;
      min-width: 320px;

      &.active {
        min-width: 620px;

        .career-team-text-container {
          position: absolute;
          z-index: 0;
          left: 0;
          max-width: 320px;
          height: 100%;
          //padding-right: 30px;
          transform: translateX(96%);
        }
      }
    }

    .career-team-image {
      max-width: 320px;
      z-index: 1;
    }
  }

  .career-team-card-footer {
    margin: 60px 0;
    color: #383838;
    font-size: 18px;

    p {
      font-size: 16px;
      margin: 12px 0;

      a {
        font-size: 16px;
        color: #006A9F !important;
      }
    }
  }
}

//career modal

.career-modal {
  color: #006A9F;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 10px 40px #006A9F1A;
  margin: -200px auto 95px;
  max-width: 1364px;
  padding: 40px 44px;
  position: relative;
  z-index: 3;

  .career-modal-header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .career-modal-header svg {
    cursor: pointer;
    rotate: 0deg;
    transition: .3s ease-out;
  }

  .career-modal-header svg:hover {
    rotate: -90deg;
    transition: .3s ease-out;
  }

  .career-modal-header svg:hover circle {
    fill: #EE303C;
  }

  .career-modal-form {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
  }

  .career-modal-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .career-form-group label {
    color: #006a9f;
    font-size: 18px;
    margin-bottom: 14px;
    letter-spacing: .9px;
  }

  .form-control {
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    height: 60px;
  }

  .career-modal-gel {
    position: absolute;
    color: #707070;
    right: 75px;
    transform: translateY(-40px);
  }

  .modal-career-footer {
    display: flex;
    flex-direction: column;
    width: calc(33% - 10px);

    .career-modal-add-title {
      margin: 26px 0 14px;
      font-size: 18px;

      p {
        white-space: nowrap;
        color: #707070;
        font-size: 18px;
      }
    }

    .career-modal-footer-input {
      display: none;
    }

    .career-modal-add-btn {
      padding: 18px;
      border: 2px solid #D0D0D0;
      border-radius: 12px;
      text-align: center;
      cursor: pointer;
      transition: ease-out .3s;

    }

    .career-modal-add-btn:hover {
      background-color: #006A9F;
      color: #fff;
      transition: ease-out .3s;

    }

    .career-modal-add-btn:hover svg path {
      fill: #fff;
      transition: ease-out .3s;

    }

    .career-modal-btn {
      background-color: #006A9F;
      border: none;
      border-radius: 12px;
      color: #fff;
      font-size: 18px;
      margin-bottom: 37px;
      padding: 18px 24px;
      width: 161px;
      transition: ease-out .3s;

    }

    .career-modal-btn:hover {
      background-color: #EE303C;
      transition: ease-out .3s;
    }

    .career-modal-btn svg {
      margin-right: 9px;
    }
  }
}

@media (max-width: 1130px) {
  .career-form-group label {
    font-size: 14px !important;
  }
}

@media (max-width: 1024px) {
  .career-content {
    flex-direction: column-reverse;
    margin: -30px auto 0;
    align-items: center;
    padding: 0;

    .career-left-side {
      width: 100%;
      text-align: center;
      margin: -50px 0 65px;
    }

    .career-top-text {
      position: absolute;
      top: 0;
      font-size: 29px;
      transform: translateY(-49px);
      width: 100%;
      justify-content: center;
    }

    .test {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .career-right-side {
      width: 90%;
      margin-bottom: 0;
      height: 130px;
      overflow: hidden;
      border: none;
      padding: 18px;
      transition: ease-out .3s;

      .career-hr-header svg {
        display: block;
      }

      h1 {
        font-size: 20px;

      }
    }

    .upload-cv:hover {
      background-color: #006A9F !important;
    }

    .career-form-open:hover {
      color: #707070;
    }

    .career-right-side-active {
      height: unset;
      overflow: visible;
      width: 90%;
      margin-bottom: 0;
      background-color: #fff;
      filter: drop-shadow(0px 10px 40px #006A9F1A);
      border-radius: 24px;
      color: #006A9F;
      padding: 18px;

      .career-hr-header svg {
        transform: rotate(0deg);
        transition: transform 0.3s ease-out;
      }

      h1 {
        margin-bottom: 15px;
        font-size: 20px;

      }

      p {
        color: #707070;
        font-size: 16px;
      }
    }


    .career-hr-header {
      display: flex;
      justify-content: space-between;
    }

    .career-hr-header svg {
      border: 2px solid #EE303C;
      transform: rotate(180deg);
      transition: transform 0.3s ease-out;
      border-radius: 32px;
      width: 32px;
      height: 32px;
    }

  }
  .career-top {
    height: 185px;
  }

  .career-team {
    padding: 0 34px;

    .career-team-cards {
      height: 560px;
      gap: 0;
    }

    .career-team-image img {
      width: 275px !important;
      height: 260px !important;
      margin-left: 23px;
    }

    .career-team-text {
      color: #707070 !important;
      background-color: #fff !important;
      //padding-top: 50px !important;
      padding: 50px 0 25px !important;
      margin-top: 23px;
      filter: drop-shadow(0px 5px 16px #006A9F1A);


      p {
        font-size: 12px;
      }
    }

    .career-team-text-title {
      display: none;
    }

    .career-team-text-title-mobile {
      display: block !important;
      padding-top: 190px;
      margin-left: 20px;

      h3 {
        font-size: 20px;
      }

      span {
        font-size: 14px;
        color: #707070;
      }
    }

    .career-team-card {
      margin-right: 50px !important;
      min-width: unset !important;

      &.active {
        min-width: unset !important;

        .career-team-text-container {
          transform: translateX(0) !important;
        }
      }
    }

    .career-team-card-footer {
      display: none;
    }
  }
  .career-modal {
    margin-top: -145px;
    z-index: 4;

    .career-modal-form {
      grid-template-columns: repeat(1, 1fr);
    }

    .modal-career-footer {
      width: 100%;

      .modal-footer-check {
        display: flex !important;
      }

      .career-modal-add-title {
        font-size: 14px;
      }

      .career-modal-add-btn {
        padding: 13px;
      }

      .career-modal-add-title p {
        white-space: unset;
      }
    }
  }
}