* {
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'FiraGO', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}


//header

.header {
  align-items: center;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.maxWidth-header {
  color: #d0d0d0;
  display: flex;
  flex-direction: row;
  font-size: 14.4px;
  height: 49px;
  justify-content: space-between;
  max-width: 1364px;
  width: 100%;
}

.header ul, .menu ul, .about-us-menu ul {
  list-style-type: none;
  margin-top: 0;
  display: flex;
  flex-direction: row;
}

.header li, .menu li, .about-us-menu li  {
  margin: 17px 0 13px 30px;
}

.nav-item {
  color: #D0D0D0;
  font-family: 'FiraGO', sans-serif;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s ease-in;
}

.nav-item:hover {
  color: #006A9F !important;
  transition: all 0.3s ease-in;
}

.dropdown {
  background-color: #E2202C;
  padding-right: 35px;
  padding-left: 35px;
  height: 35px;
  color: #ffff;
  border-radius: 8px !important;
  margin: 9px 0 5px 36px !important;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 6;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E2202C;
  border-radius: 8px !important;
  transition: 0.3s;
  margin-top: 75px;
  max-width: 350px;
  padding: 10px 0 20px 0;
  transform: translateY(24px);
  text-align: center;
  font-size: 18px;
}

.dropdown-content a {
  background-color: transparent;
  border: 0;
  color: #ffff;
  display: block;
  padding: 4px 16px;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-text:hover {
  background-color: #EE303C;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropdown-content a {
  color: #FFFFFF !important;
}

.choose-lang {
  cursor: pointer;
}

.menu-logo {
  width: 260px;
  height: 55px;
  margin-top: 33px;
}

.lang-img {
  width: 20.39px;
  height: 13.59px;
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: middle !important;
}

.dropdown-lang a {
  margin-left: 9.31px;
  color: #F2F2F2;
  text-decoration: none;
}

.lang {
  position: absolute;
  background-color: #242424;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.3s;
  display: none;
  flex-direction: column;
  width: 153px;
  transform: translateY(10px);
  cursor: pointer;
  z-index: 6;
}

.lang-a {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.lang div:hover {
  margin-bottom: 10px;
  background-color: #006A9F;
}

.lang a {
  color: #FFFFFF !important;
}

.choose-lang:hover .lang {
  display: flex;
}

.choose-lang:hover .img-arrow {
  transform: rotate(-180deg);
  transition: transform .3s ease-out;
}

.dropdown-lang .img-arrow {
  transform: rotate(0deg);
  transition: transform .3s ease-out;
}

.phone {
  color: #D0D0D0;
  margin-left: 2%;
  margin-bottom: 5.5%;
  white-space: nowrap;
}

.phone img {
  vertical-align: middle !important;
}

.phone-border {
  border-bottom: solid 2px #EE303C;
}

.agent {
  display: none;
}

.agent {
  width: 100%;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.agent img {
  width: 30.13px;
  height: 30.13px;
  margin-top: 23.08px;
}

.connect-agent {
  background-color: #EE303C;
  color: #FFFFFF;
  position: fixed;
  z-index: 1000;
  top: 0;
  font-size: 15px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 154px;
  height: 121px;
  margin-top: 165px;
  text-align: center;
  transition: all 0.3s ease-in;
}

.connect-agent:hover {
  width: 165px;
  transition: all 0.3s ease-in;
}

//menu

.menu {
  background-color: #006a9f;
  position: inherit;
  width: 100%;
  align-items: center;
  display: flex;
  z-index: 5;
  flex-direction: column;
}

.about-us-menu {
  background-color: transparent;
  position: absolute;
  width: 100%;
  align-items: center;
  display: flex;
  z-index: 5;
  flex-direction: column;
}

.maxWidth-menu {
  color: #d0d0d0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1364px;
  width: 100%;
}

.logo {
  width: 260px;
  height: 55.84px;
  margin-top: 33px;
}

.menu-list {
  inline-size: 136px;
  overflow-wrap: break-word;
  cursor: pointer;
}

.menu-dropdown {
  visibility: hidden;
  width: 615px;
  height: 303px;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  transform: translateX(-33px);
  position: absolute;
  cursor: pointer;
  z-index: 10;
  filter: drop-shadow(0 10px 40px #006A9F1A);
  box-shadow: 0 10px 40px #006A9F1A;
}

.menu-list:hover .menu-dropdown {
  visibility: inherit;
}

.menu-dropdown div:hover svg #Path_29{
  fill:#fff;
}

.menu-dropdown div:hover {
  background-color: #EE303C;
}

.menu-dropdown div:hover a {
  color: #FFFFFF !important;
}

.menu-dropdown a {
  text-decoration: none;
  color: #707070 !important;
  margin-left: 55px;
}

.menu-dropdown svg {
  width: 20px;
  vertical-align: middle!important;
  margin-right: 33px;
}

.menu-dropdown > :first-child {
  margin-top: 70px;
}

.menu-list {
  margin-top: 39px;
  color: #FFFFFF;
  word-wrap: break-word;
  font-size: 18px;
}

.cabinet {
  font-size: 20px;
  margin-top: 37px;
  width: 91px;
  height: 48px;
  color: #fff;
}

.cabinet-img svg {
  margin-top: 30px;
  width: 62px;
  height: 62px;
  transition: all 0.3s ease-in;
}

.cabinet-img svg:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
  cursor: pointer;

  circle {
    fill: #ee303c;
  }

  path {
    fill: #fff;
  }
}

//home

.home-container {
  background-image: url("../../src/img/background.png");
  background-size: cover;
}

%container {
  display: grid;
  gap: 12px;
  grid-template-rows: 180px;
  margin: -32px auto 76px;
  max-width: 1364px;
  padding-left: 16px;
  padding-right: 16px;
}

.card-container {
  grid-template-columns: repeat(5, 1fr);
  cursor: pointer;
  @extend %container;
}

.card {
  transition: 0.3s;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 0 10px 40px #006A9F1A;
  border-radius: 12px !important;
  z-index: 100;
}

.card p {
  font-size: 18px;
  text-align: center;
  font-family: 'BPG LE Studio 02 Caps', sans-serif;
}

.card img {
  width: 45px;
  height: 45px;
}

.card:hover {
  background-color: #006A9F;
  height: 240px;
  transform: translateY(-8%);

  .card-body {
    color: #fff !important;
  }
}

.card:hover img {
  filter: brightness(0) invert(1);
}

.card-btn {
  display: none;
  background-color: #e3342f;
  line-height: 1.6;
  color: #fff;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 12px !important;
  font-size: .9rem;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  width: 150px;
  transition: 0.2s;
  cursor: pointer;
}

.card:hover .card-btn {
  display: inline;
}

.card-btn:hover {
  background-color: #e7524e;
}

.card-body {
  align-items: center;
  color: #707070 !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 40px;
}

.mobile-sos {
  display: none;
}

.mobile-line {
  display: none;
}

//advantages

.advantages-container {
  grid-template-columns: repeat(6, 1fr);
  display: grid;
  gap: 12px;
  grid-template-rows: 180px;
  margin: -32px auto 76px;
  max-width: 1364px;
  padding-left: 16px;
  padding-right: 16px;
}

.advantages-card {
  word-wrap: break-word;
  background-clip: border-box;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  font-size: 14px;
  margin-top: 45px;
  height: 234px;
}

.advantages-body {
  align-items: center;
  color: #707070;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 40px;
  height: 234px;
  transition: all 0.1s ease-out;
}

.advantages-body:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

%home-text {
  text-align: center;
  font-size: 36px;
  font-family: 'BPG LE Studio 02 Caps', sans-serif;
  color: #707070;
}

.advantages-text {
  @extend %home-text;
  margin-top: 119px;
  margin-bottom: 9px;
}

.news-text {
  @extend %home-text;
  margin-top: 119px;
  margin-bottom: 36px;
}

.advantages-body img {
  width: 48px;
  height: 48px;
}

.advantages-body p {
  font-size: 17px;
  text-align: center;
}

//news

.news-container::-webkit-scrollbar {
  display: none;
}

.news-container {
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  @extend %container;
}

.news-body img {
  width: 100%;
  height: 320px;
}

.news-card {
  word-wrap: break-word;
  background-clip: border-box;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  font-size: 20px;
  margin-top: 36px;
  height: 460px;
  width: 444px;
  border-radius: 12px !important;
  background-color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-out;
  flex: 0 0 auto;
}

.news-card:hover {
  border: 2px solid #006A9F;
}

.news-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.lg-text {
  color: #707070;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 10px;
}

.sm-text {
  color: #D0D0D0;
  font-size: 12px;
  padding-left: 15px;
}

.all-news {
  text-align: center;
  color: #707070;
  font-size: 18px;
  transition: all 0.3s ease-out;
  transform: translateY(-25px);

}

.all-news svg {
  rotate: -90deg;
  vertical-align: middle !important;
  width: 12px;
  height: 12px;
}

.all-news span:hover {
  color: #006A9F;
  cursor: pointer;
}

.all-news span:hover path {
  stroke: #006A9F;
}

//footer

.footer {
  background-color: #FFFFFF;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1364px;
  padding: 32px 0 0;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.footer-list-item {
  color: #707070 !important;
  font-size: 16px;
  padding-bottom: 20px;
}


.footer-content ul {
  list-style: none;
  width: 25%;
  margin-bottom: 1rem;
  margin-top: 0;
  padding-left: 2rem;
  text-align: left;
}

.footer-list > ul {
  list-style: none;
  width: 25%;
  margin-bottom: 1rem;
  margin-top: 0;
  padding-left: 2rem;
  text-align: left;
}


.footer-list-item a:hover {
  color: #006A9F !important;
  text-decoration: underline !important;
}

.footer-logo {
  width: 202px;
  height: 43.39px;
}

.footer-img {
  margin-right: 15px;
  width: 25px;
  vertical-align: middle !important;
}

//responsive

@media (max-width: 1200px) {
  .maxWidth-header {
    font-size: 10px;
  }
  .dropdown-content {
    font-size: 13px;
    transform: translateY(14px);
  }
  .phone {
    margin-bottom: 11.4%;
  }

  .phone img {
    vertical-align: middle !important;
  }

  .lang {
    transform: translateY(16px);
  }
  .menu-list {
    font-size: 14px;
  }
  .cabinet {
    font-size: 14px;
  }
  .menu li {
    margin: 17px 0 13px 15px;
  }
  .menu-logo {
    width: 230px;
  }
  .cabinet-img img {
    width: 42px;
    height: 42px;
  }
  .lang {
    width: 115px;
  }
  .menu-dropdown {
    width: 480px;
  }
  .card p {
    font-size: 15px;
  }
}

.slider-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.slider-item-div {
  padding: 20px;
  background-color: white;
  text-align: center;
  height: 100%;
  width: 100%;
}

.carousel-style {
  height: 100% !important;
}

//mobile

@media (max-width: 1024px) {

  .agent {
    display: none;
  }
  //mobile header

  .header {
    display: none;
  }
  //mobile menu

  .menu {
    display: none;
  }

  //mobile home
  //card
  .home-container {
    background-color: #F2F2F2;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
    max-width: 390px;
    padding: 0 27px;
  }
  .card p {
    font-size: 10px;
  }
  .card {
    width: calc(50% - 6px);
    height: 180px;
  }

  .card:hover {
    background-color: #FFFFFF;
    height: 145px;
    transform: translateY(0%);
    transition: 0.3s;

    .card-body {
      color: #707070 !important;
    }
  }

  .card:hover img {
    filter: brightness(1) invert(0);
  }

  .card:hover .card-btn {
    display: none;
  }
  .mobile-sos {
    display: block;
    padding: 8px 27px 36px;
    max-width: 390px;
    margin: auto;
  }

  .mobile-sos button {
    background-color: #EE303C;
    color: #fff;
    border-radius: 12px;
    font-size: 22px;
    width: 100%;
    height: 71px;
    filter: drop-shadow(0px 5px 16px #EE303C4D);
    margin-top: 13px;
    align-items: center;
    border: none;
  }
  .mobile-line {
    display: block;
    width: 111px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    color: rgb(112, 112, 112);
  }

  //advantages
  .advantages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 110px;
    max-width: 390px;
    padding: 0 27px;

  }
  .advantages-card {
    width: calc(50% - 6px);
    height: 113px;
  }
  .advantages-card p {
    font-size: 13px;
  }
  .advantages-body:hover {
    background-color: transparent;
  }
  .news-text, .advantages-text {
    font-size: 25px;
    margin-top: 70px;
  }

  //news
  .news-container {
    height: 331px;
  }
  .news-card {
    width: 277px;
    height: 270px;
  }
  .news-body img {
    height: 166px;
  }
  .lg-text {
    font-size: 14px;
  }
  .sm-text {
    font-size: 10px;
  }
  .news-card {
    border: 0 solid transparent;
  }
  .news-card:hover {
    border: 0 solid transparent;
  }
  .all-news {
    transform: translateY(-25px);
    font-size: 14px;
  }
  .all-news:hover {
    color: #707070;
    cursor: pointer;
  }

  .all-news:hover path {
    stroke: #707070;
  }
  .all-news svg {
    width: 10px;
    height: 10px;
  }
}



