.about-us {
  background: url('../img/aboutUsBg1.svg'), url('../img/aboutUsBg2.svg');
  background-position: 0, 0;
  background-repeat: no-repeat;
  background-origin: padding-box;
  font-family: "Helvetica Neue LT GEO", sans-serif;
}

.mobile-about-us-menu {
  display: none;
  padding: 0 100px !important;
}

//menu gradient img

%about-us-gradient {
  background-image: linear-gradient(rgba(255, 0, 0, 0), #006a9f);
  opacity: 1;
  height: 232px;
  z-index: 3;
  position: absolute;
  width: 100%;
}

%gradient-top {
  rotate: 180deg;
  top: 49px;
}

%gradient-bottom {
  bottom: 0;
  left: 0;
  top: 165px;
}

%pages-top {
  align-items: end;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #ee303c;
  height: 352px;
  width: 100%;
}

.about-us-top {
  background-image: url("../img/aboutUsTop.png");
  @extend %pages-top;


  .about-us-gradient-top {
    @extend %about-us-gradient;
    @extend %gradient-top;
  }

  .about-us-gradient-bottom {
    @extend %about-us-gradient;
    @extend %gradient-bottom;
  }

  .about-us-top-text {
    color: #fff;
    position: relative;
    text-align: center;
    top: 75%;
    z-index: 3;
    font-size: 48px;
  }
}

.about-us-description {
  color: #707070;
  font-size: 18px;
  margin: 0 auto;
  max-width: 1364px;
  padding: 70px 30px 74px;
  text-align: center;
}

%about-us-h1-text {
  text-align: center;
  font-size: 32px;
  color: #006A9F;
  font-family: "BPG LE Studio 02 Caps", sans-serif;
  display: flex;
  justify-content: center;
  margin: auto auto 30px;
  max-width: 1364px;
  position: relative;
}

.about-us-h1 {
  @extend %about-us-h1-text;
}

.about-us-h {
  @extend %about-us-h1-text;
}

.card-arrow-left {
  position: absolute;
  right: 65px;
  cursor: pointer;
}

.card-arrow-right {
  position: absolute;
  right: 35px;
  cursor: pointer;
}

//top card

.about-us-top-cards::-webkit-scrollbar {
  display: none;
}

.about-us-top-cards {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-left: 60px;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;

  .about-us-card-history {
    margin-bottom: 17px;
  }

  .year {
    margin-top: 40px;
    color: #707070;
    font-size: 32px;
  }

  .year-dot {
    background: #006a9f;
    border-radius: 16px;
    height: 11px;
    position: relative;
    top: -6px;
    width: 11px;
  }

  .dotted-line {
    border: none;
    border-top: 1px dashed #006a9f;
    width: 100%;
  }

  .about-us-top-card-image {
    position: relative;
    top: 12px;

    img {
      width: 400px;
    }
  }

  .about-us-top-card-description {
    border-radius: 12px;
    box-shadow: 0 10px 40px #006A9F1A;
    color: #707070;
    font-size: 16px;
    height: auto;
    left: -30px;
    margin-right: 60px;
    padding: 32px;
    position: relative;
    top: -261px;
    width: 400px;
    z-index: 2;
    background-color: #fff;
  }
}

//bottom card

.about-us-bottom-cards {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 0 32px;
  max-width: 1364px;
  align-items: center;

  .about-us-bottom-cards-row {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
  }

  .about-us-bottom-card {
    background-image: url("../img/bottomCardBG.png");
    background-position: 25%;
    background-size: auto;
    align-items: center;
    border-radius: 36px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 30px 40px #00619166;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .about-us-bottom-img img {
    width: 44px;
    margin: 45px 0 25px;
  }

  .about-us-bottom-card-title {
    font-size: 32px;
    margin-bottom: 28px;
  }

  .about-us-bottom-card-text {
    max-width: calc(100% - 50px);
    padding-bottom: 65px;
    text-align: center;
    width: 100%;
  }

  .about-us-bottom-card-list {
    display: flex;
    flex-direction: column;

    .bottom-card-list {
      margin: 0 10px;
      display: flex;
      flex-direction: row;
      justify-content: left;
    }
  }

  .about-us-bottom-card-list ul {
    list-style: disc;
  }
}

//annual
.annual {

  align-items: center;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 36px;
  box-shadow: 0 10px 40px #006A9F1A;
  filter: drop-shadow(0px 10px 40px #006A9F1A);
  height: auto;
  margin: 70px auto 162px;
  max-width: 1364px;
  overflow-x: hidden;
  padding: 0 20px 20px;

  min-height: 437px;

  .annual-title {
    margin-top: 50px;
    text-align: center;
    font-size: 32px;
    color: #006A9F;
    font-family: "BPG LE Studio 02 Caps", sans-serif;
  }

  .form-select {
    text-align: center;
    background-color: #F2F2F2;
    color: #707070;
    background-image: url("../img/fromArrow.png");
    background-size: 10px;
    border-radius: 12px;
    padding: 8px;
  }

  .annual-files {
    display: flex;
    flex-direction: row;
    text-align: center;

    .annual-file {
      box-shadow: 0 10px 40px #006A9F1A;
      filter: drop-shadow(0px 10px 40px #006A9F1A);
      border-radius: 12px;
      color: #707070;
      width: 214px;
      height: auto;
      align-items: center;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      padding: 15px;
      margin: 54px 16px 62px;

      h3 {
        font-size: 20px;
        margin: 6px 0;
      }

      h4 {
        font-size: 14px;
      }

      span {
        font-size: 14px;
      }

      .annual-download {
        background-color: #F2F2F2;
        padding: 5px 15px;
        border-radius: 4px;
        transition: .3s ease-out;
        margin: 15px 0;
      }

      .annual-download:hover {
        color: #fff;
        background-color: #ee303c;
        cursor: pointer;
        transition: .3s ease-out;

        svg {
          fill: #fff;
        }
      }
    }

    .annual-file img {
      width: 22px;
    }
  }
}

@media (max-width: 1024px) {

  //about us

  .mobile-about-us-menu {
    display: contents;
  }
  .about-us-top {
    display: none;
  }
  .about-us-bottom-cards {
    display: none;
  }
  .about-us-description {
    display: none;
  }
  .about-us-h {
    display: none;
  }
  .about-us-h1 {
    margin-top: 26px;

    h1 {
      font-size: 24px !important;
    }

    .card-arrow-left {
      margin-top: 20px;
    }

    .card-arrow-right {
      margin-top: 20px;
    }
  }

  .about-us-top-cards {
    padding: 0 40px;
    height: 390px;

    .about-us-top-card-description {
      font-size: 14px;
      left: -9px;
      padding: 22px;
      top: -252px;
      width: 229px;
    }

    .year {
      font-size: 20px;
      margin-bottom: 8px;
    }

    .about-us-top-card-image {
      top: 23px;

      img {
        width: 255px;
        height: 247px;
      }
    }
  }

  .annual {
    margin-top: 0;

    .annual-title {
      font-size: 24px;
      white-space: nowrap;
    }

    .annual-files {
      flex-direction: column;

      .annual-file {
        border-radius: 0;
        box-shadow: none;
        filter: none;
        margin: 0;
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h3 {
          font-size: 14px;
        }

        h4 {
          font-size: 14px;
          margin: 0 10px;
        }

        span {
          display: none;
        }

        .annual-download:hover {
          color: #fff;
          background-color: #F2F2F2;
          cursor: pointer;

          svg {
            fill: #000;
          }
        }
      }
    }
  }
}


//accordion

.accordion-item {
  background-color: #fff;
  border-radius: 12px !important;
  display: block;
  filter: drop-shadow(0 5pt 16pt #006A9F1A);
  padding: 10px 20px;
  margin-bottom: 10px;
  transition: height .3s ease-out;
  border: 1px solid #006A9F !important;

  button {
    box-shadow: none;
    background-color: #fff;
    color: #006A9F;
    font-size: 24px;
    border: none;
  }

  .accordion-body {
    border: none;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-button:not(.collapsed) {
    background-color: #fff;
    box-shadow: none;
    color: #006a9f;

  }

  .accordion-button::after {
    color: #006A9F !important;
    border: 2px solid #006a9f;
    border-radius: 32px;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23006a9f'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;

  }
}

.contact-form-mobile {
  display: none;
}

//contact
//pages-header
.pages-header {
  background: url('../img/aboutUsBg1.svg');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-origin: padding-box;

  .contact-top {
    background-image: url("../img/contactBg.png");
    @extend %pages-top;
  }

  .contact-gradient-top {
    @extend %about-us-gradient;
    @extend %gradient-top;
  }

  .contact-gradient-bottom {
    @extend %about-us-gradient;
    @extend %gradient-bottom;
  }
}

.contact-us {
  margin: -121px auto 0;
  max-width: 1364px;
  padding: 0 67px;
  position: relative;
  z-index: 3;
  color: #707070;

  .contact-top-text {
    color: #fff;
    z-index: 3;
    font-family: 'PantonMtav3', sans-serif;
    font-size: 48px;
    left: 5%;
    transform: translateY(35px);
  }

  .contact-us-header {
    color: #006a9f;
    margin: 100px 0 30px;

    h1 {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }

}

.contact-info .d-flex div {
  margin: 0 74px 17px 0;

  svg {
    margin-right: 12px;
  }
}

.contact-address-header {
  font-size: 18px;
  color: #383838;
}

.contact-address-text {
  font-size: 16px;
  padding-left: 46px;
}

.contact-us-form {
  background-color: #fff;
  box-shadow: 0 10px 40px #006A9F1A;
  filter: drop-shadow(0px 10px 40px #006A9F1A);
  border-bottom: 2px solid #EE303C;
  border-radius: 24px;
  font-size: 16px;
  margin-bottom: 74px;
  padding: 48px 52px 61px 66px;
  width: 50%;
  color: #006A9F !important;

  h1 {
    color: #006A9F;
    font-size: 24px;
  }

  p {
    color: #707070;
  }

  .form-group {
    margin: 10px;

    label {
      margin-bottom: 10px;
      font-family: 'Helvetica Neue LT GEO MT', sans-serif;
    }

    textarea {
      height: 140px;
      resize: none;
    }

    input {
      padding: 15px 18px;
    }

    .form-control-feedback {
      font-size: 11px !important;
    }


  }

  button {
    background-color: #006a9f;
    font-size: 18px;
    margin-top: 31px;
    border: none;
    border-radius: 12px;
    padding: 14px 20px;
    margin-left: 10px;
    transition: .3s ease-out;
  }

  button:hover {
    background-color: #EE303C !important;
    transition: .3s ease-out;
  }

  svg {
    margin-right: 9px;
  }
}

//remove arrow from input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

//contact form media

@media (max-width: 1120px) {
  .contact-us-form {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .contact-form-mobile {
    display: block;
    margin-bottom: 37px;

    .contact-form-mobile-header {
      color: #006A9F;
      font-size: 20px;
    }

    div p {
      color: #707070;
      font-size: 16px;
      margin: 12px 0 27px;
    }

    .contact-form-mobile-btn {
      background-color: #006a9f;
      color: #fff;
      border-radius: 12px;
      border: none;
      font-size: 18px;
      min-height: 58px;
      min-width: 199px;
    }
  }

  .contact-top {
    height: 185px !important;
  }
  .contact-gradient-top {
    top: 0 !important;
    height: 185px !important;
  }

  .contact-gradient-bottom {
    top: 120px !important;
    height: 62px !important;
  }


  .contact-us {
    padding: 0 30px;

    .contact-top-text {
      text-align: center;
      font-size: 34px;
      transform: translateY(60px);
    }

    .contact-us-header h1 {
      font-size: 20px !important;
    }

    .flex-row {
      flex-direction: column !important;
    }

    .contact-us-form {
      display: none;
    }

    .contact-info .d-flex div {
      margin-right: 0;
    }
  }
}

//contact offcanvas
.mobile-contact-offcanvas {
  height: 90% !important;
  border-radius: 12px 12px 0 0;
  filter: drop-shadow(0px 10px 40px #006A9F1A);

  .mobile-contact-offcanvas-header {
    align-items: baseline;
    height: 50px;
    justify-content: end;
  }

  .mobile-contact-offcanvas-body {
    label {
      color: #006a9f;
      font-size: 14px;
      padding-bottom: 10px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    input {
      border-radius: 4px;
      color: #707070;
      font-size: 16px;
      padding: 14px 18px;
    }

    .mobile-contact-offcanvas-textarea {
      border-radius: 4px;
      color: #707070;
      font-size: 16px;
      padding: 14px 18px;
    }

    .mobile-contact-offcanvas-button {
      display: flex;
      align-items: center;
    }

    .mobile-contact-offcanvas-btn {
      background-color: #006a9f;
      border-radius: 12px;
      color: #fff;
      height: 58px;
      margin: 0 auto 40px;
      min-width: 161px;

      svg {
        margin-right: 10px;
      }
    }
  }
}

.was-validated .form-control:valid {
  background-image: none;
  border-color: #ced4da;
}

