.carousel-caption {
  bottom: -4.75rem !important;
}

.buy-onlineImg {
  height: 159px;
  width: 469px;
}

.carousel-caption h3 {
  font-size: 48px;
  font-family: 'BPG LE Studio 02 Caps', sans-serif;
}

.carousel-caption p {
  font-size: 22px;
}

%img-size {
  width: 46px;
  height: 46px;
}

.carousel-control-prev-icon {
  background-image: url("./../../img/svg/Left.svg") !important;
  @extend %img-size;
}

.carousel-control-next-icon {
  background-image: url("./../../img/svg/Right.svg") !important;
  @extend %img-size;
}

.carousel-inner {
  border-bottom: 4px solid #ee303c;
}

.carousel-indicators {
  text-align: right;
  float: right;
  right: 1% !important;
  left: inherit;
}

.carousel-indicators button {
  background: none !important;
  border: 2px solid #fff !important;
  border-radius: 100%;
  height: 10px !important;
  width: 10px !important;
  margin: 0 10px !important;
  margin-bottom: 30px !important;
}

.carousel-indicators .active {
  background-color: #FFFFFF !important;
}

@media (max-width: 1000px) {
  .carousel-indicators {
    right: 1% !important;
  }
  .carousel-indicators button {
    height: 6px !important;
    width: 6px !important;
    margin-bottom: 15px !important;
  }

  .carousel-control-next, .carousel-control-prev {
    display: none;
  }
  .carousel {
    height: 266px;
  }

  .carousel-caption h3 {
    margin-bottom: 70px;
  }

  .carousel-item > :first-child {
    height: 266px;
  }


  .carousel-caption {
    bottom: 0 !important;
  }
  .buy-onlineImg {
    height: 105px;
    width: 333px;
    transform: translateY(45px);
  }

  .carousel-caption h3 {
    font-size: 27px;
    font-family: 'BPG LE Studio 02 Caps', sans-serif;
  }

  .carousel-caption p {
    display: none;
  }
  .carousel-indicators button {
    height: 3px !important;
    width: 3px !important;
    margin-bottom: 30px !important;
    margin-right: 2px !important;
  }
}

@media (max-width: 470px) {
  .buy-onlineImg {
    width: calc(100% - 5px);
  }
}